.pc {
  display: block;
}

.mo {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .mo {
    display: block;
  }
}

.sub-breadcrumb {
  height: 65px;
  border-bottom: 1px solid #ddd;
}

.sub-breadcrumb__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1560px;
  height: 65px;
  margin: 0 auto;
}

.sub-breadcrumb__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 100%;
  padding: 0 30px 0 40px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.sub-breadcrumb__item:first-child {
  border-left: 1px solid #ddd;
}

.sub-breadcrumb__item:first-child > strong {
  padding: 0 0 0 40px;
}

.sub-breadcrumb__item:first-child > strong::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 21px;
  height: 21px;
  margin-right: 26px;
  background: url(../images/2023/breadcrumb-home.png) no-repeat 50% 50%;
  background-size: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-breadcrumb__item::after {
  content: "";
  display: block;
  width: 14px;
  height: 7px;
  background: url(../images/2023/breadcrumb-arrow.png) no-repeat 50% 50%;
  background-size: cover;
}

.sub-breadcrumb__item > strong {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-breadcrumb__item.on > strong {
  color: #096eda;
}

.sub-breadcrumb__item.active .sub-breadcrumb__menu {
  bottom: 0px;
  display: block;
  -webkit-box-shadow: -1px 4px 9px 1px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 4px 9px 1px rgba(0, 0, 0, 0.2);
}

.sub-breadcrumb__menu {
  position: absolute;
  bottom: 0;
  left: -1px;
  right: -1px;
  width: auto;
  max-height: 425px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: auto;
  z-index: 50;
  bottom: 1px;
  display: none;
  /* ------------------------------ */
  /* ------------------------------ */
}

.sub-breadcrumb__menu::-webkit-scrollbar {
  width: 18px;
}

.sub-breadcrumb__menu::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #ddd;
}

.sub-breadcrumb__menu::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

.sub-breadcrumb__menu ul {
  padding: 20px 0;
}

.sub-breadcrumb__menu ul li a {
  position: relative;
  display: block;
  padding: 0 40px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.91;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-breadcrumb__menu ul li a:hover {
  background: #096eda;
  color: #fff;
}

.sub-breadcrumb__menu ul li.newwindow a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 12px;
  height: 12px;
  background: url(https://www.sangju.go.kr/archive/resources/homepage/archive/images/icon_blank_black.png) no-repeat 50% 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-breadcrumb__menu ul li.newwindow a:hover::before {
  background: url(https://www.sangju.go.kr/archive/resources/homepage/archive/images/icon_blank_white.png) no-repeat 50% 50%;
}

@media screen and (max-width: 1024px) {
  .sub-breadcrumb {
    height: 49px;
  }
  .sub-breadcrumb__inner {
    height: 49px;
  }
  .sub-breadcrumb__item {
    min-width: 33.333%;
    width: 100%;
    padding: 0 15px 0 15px;
  }
  .sub-breadcrumb__item:first-child {
    border-left: 1px solid #ddd;
  }
  .sub-breadcrumb__item:first-child > strong {
    padding: 0 0 0 20px;
  }
  .sub-breadcrumb__item:first-child > strong::before {
    width: 10.5px;
    height: 10.5px;
    margin-right: 10px;
  }
  .sub-breadcrumb__item::after {
    min-width: 7px;
    width: 7px;
    height: 3.5px;
  }
  .sub-breadcrumb__item > strong {
    font-size: 12px;
    letter-spacing: -0.55px;
  }
  .sub-breadcrumb__item.active .sub-breadcrumb__menu {
    max-height: 244px;
    -webkit-box-shadow: -0.5px 2px 4.5px 0.5px rgba(0, 0, 0, 0.2);
            box-shadow: -0.5px 2px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  }
  .sub-breadcrumb__menu::-webkit-scrollbar {
    width: 9px;
  }
  .sub-breadcrumb__menu::-webkit-scrollbar-thumb {
    border-radius: 4.5px;
  }
  .sub-breadcrumb__menu ul {
    padding: 10px;
  }
  .sub-breadcrumb__menu ul li a {
    padding: 0 5px;
    font-size: 11px;
    letter-spacing: -0.55px;
  }
  .sub-breadcrumb__menu ul li.newwindow a::before {
    right: 0px;
  }
}

.subBody__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 113px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.7px;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .subBody__title {
    display: none;
  }
}

.subMenu-depth {
  float: left;
  width: 16%;
  margin-bottom: 4em;
}

@media screen and (max-width: 1024px) {
  .subMenu-depth {
    display: none;
  }
}

.subMenu-depth__banner {
  margin-top: 30px;
}

.subMenu-depth__banner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 235px;
  height: 46px;
  margin-bottom: 10px;
  padding: 0 13px 0 20px;
  border-radius: 22.5px;
  border: solid 1px #235dae;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.05px;
  text-align: left;
  color: #000;
}

.subMenu-depth__banner a br {
  display: none;
}

@media screen and (max-width: 1400px) {
  .subMenu-depth__banner a {
    width: auto;
    font-size: 14px;
    padding: 0 8px 0 15px;
  }
  .subMenu-depth__banner a br {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .subMenu-depth__banner a {
    font-size: 12px;
  }
}

.subMenu-depth ul li a span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subMenu-depth > ul > li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #dee4f1;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: -0.9px;
  text-align: left;
  color: #000;
}

.subMenu-depth > ul > li > a::after {
  content: "";
  display: block;
  width: 6px;
  height: 11px;
  background: url(../images/2023/snb-arrow.png) no-repeat 50% 50%;
}

@media screen and (max-width: 1400px) {
  .subMenu-depth > ul > li > a {
    padding: 0 15px;
    font-size: 16px;
  }
}

.subMenu-depth > ul > li.active > a {
  font-weight: bold;
}

.subMenu-depth > ul > li.active > a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background: #096eda;
}

.subMenu-depth > ul > li > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 20px;
  background: #f3f6ff;
  border-bottom: 1px solid #dee4f1;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.13;
  letter-spacing: -0.8px;
  text-align: left;
  color: #000;
}

.subMenu-depth > ul > li > ul > li > a::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 9px;
  background: url(../images/2023/snb-bl.png) no-repeat 50% 50%;
}

@media screen and (max-width: 1400px) {
  .subMenu-depth > ul > li > ul > li > a {
    padding: 0 15px;
    font-size: 14px;
  }
}

.subMenu-depth > ul > li > ul > li.active > a {
  color: #096eda;
  font-weight: bold;
}

.subMenu-depth > ul > li > ul > li > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 0 36px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.93;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.subMenu-depth > ul > li > ul > li > ul > li > a::before {
  content: "-";
  display: block;
  margin-right: 5px;
}

@media screen and (max-width: 1400px) {
  .subMenu-depth > ul > li > ul > li > ul > li > a {
    padding: 0 28px;
    font-size: 12px;
  }
}

.subMenu-depth > ul > li > ul > li > ul > li.active > a {
  font-weight: 700;
}

.subMenu-depth > ul > li > ul > li > ul > li > ul {
  background-color: #fafafa;
  border-bottom: 1px solid #eff0f4;
  border-top: 1px dashed #eff0f4;
}

.subMenu-depth > ul > li > ul > li > ul > li > ul > li:first-child {
  padding-top: 10px;
}

.subMenu-depth > ul > li > ul > li > ul > li > ul > li:last-child {
  padding-bottom: 10px;
}

.subMenu-depth > ul > li > ul > li > ul > li > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #a3a3a3;
}

.subMenu-depth > ul > li > ul > li > ul > li > ul > li.active a {
  color: #000;
}

.subMenu-depth > ul > li ul {
  max-height: 0;
  overflow: hidden;
}

.subMenu-depth .active > ul {
  max-height: 5000px;
}

.subMenu-mobile {
  display: none;
  padding: 10px 6px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.subMenu-mobile select {
  width: 100%;
  margin: 0 6px;
  border-radius: 10px;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .subMenu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.archive-main {
  max-width: 1560px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .archive-main {
    padding: 10px 0 0;
  }
}

@media screen and (max-width: 640px) {
  .archive-main {
    padding: 10px 0 0;
  }
}

.archive-main > img {
  max-width: 100%;
}

.archive-main-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 99px 84px;
  background: url(../images/2023/main_bg.png) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.archive-main-head__swiper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 511px;
  height: 67px;
  border-radius: 32px;
  border: solid 3px #235dae;
  background-color: #fff;
}

.archive-main-head__swiper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -3px;
  left: -3px;
  min-width: 106px;
  width: 106px;
  height: 67px;
  border-radius: 32.5px;
  background-color: #235dae;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.archive-main-head__swiper .swiper {
  width: 100%;
  overflow: hidden;
}

.archive-main-head__swiper .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 61px;
  background: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #000;
  border-radius: 32.5px;
}

.archive-main-head__swiper .swiper .swiper-button-prev {
  top: -3px;
  left: 22px;
  width: 67px;
  height: 67px;
  margin: 0;
  background: url(../images/2023/main-slide-prev.png) no-repeat 50% 50%;
}

.archive-main-head__swiper .swiper .swiper-button-prev:after {
  display: none;
}

.archive-main-head__swiper .swiper .swiper-button-next {
  top: -3px;
  right: 43px;
  width: 67px;
  height: 67px;
  margin: 0;
  background: url(../images/2023/main-slide-next.png) no-repeat 50% 50%;
}

.archive-main-head__swiper .swiper .swiper-button-next:after {
  display: none;
}

.archive-main-head__swiper .swiper-pagination {
  position: absolute;
  bottom: -6px;
  right: -40px;
  left: auto;
  width: auto;
  font-size: 14px;
  color: #000;
}

.archive-main-head__swiper .swiper-pagination-current {
  color: #235dae;
  font-weight: bold;
}

.archive-main-head__keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 510px;
  height: 59px;
  margin: 33px 0 78px 0;
  border-bottom: 1px solid #000;
}

.archive-main-head__keyword input {
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
}

.archive-main-head__keyword input:focus {
  outline: none;
}

.archive-main-head__keyword button {
  min-width: 32px;
  width: 32px;
  height: 32px;
  background: url(../images/2023/main_keyword-btn.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
}

.archive-main-head__title {
  margin-bottom: 13px;
  font-size: 37.5px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.archive-main-head__title strong {
  display: block;
  margin-top: 6px;
  font-size: 58.5px;
  font-weight: bold;
}

.archive-main-head__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive-main-head__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  margin-right: 10px;
  padding: 0 25px;
  border-radius: 26.3px;
  border: solid 1px #235dae;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.9px;
  text-align: left;
  color: #000;
  white-space: nowrap;
}

.archive-main-head__btn a br {
  display: none;
}

.archive-main-head__btn a img {
  margin-left: 15px;
}

.archive-main-head__cloud {
  width: 100%;
  height: 20vw;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.archive-main-head__cloud .mainWordCloud_shape {
  height: 100%;
}

.archive-main-head__cloud .mainWordCloud_shape__inner {
  height: 100%;
}

.archive-main-head__cloud.active {
  opacity: 1;
}

.archive-main-head__cloud.active .jqcloud-word {
  color: #fff !important;
}

.archive-main-head__cloud .jqcloud-word {
  padding: 10px 20px;
  background: #fff;
  border-radius: 60px;
}

.archive-main-head__cloud .jqcloud {
  font-family: "SCDream", "Noto Sans KR" !important;
}

@media screen and (max-width: 1600px) {
  .archive-main-head {
    width: auto;
    margin: 0 20px;
    padding: 99px 20px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .archive-main-head {
    display: block;
    margin: 12px 12px 0;
    padding: 14vw 20px 80px;
  }
  .archive-main-head__swiper {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border-radius: 40px;
    border: solid 1.5px #235dae;
  }
  .archive-main-head__swiper-title {
    top: -1.5px;
    left: -1.5px;
    min-width: 53px;
    width: 53px;
    height: 40px;
    border-radius: 40px;
    font-size: 13px;
  }
  .archive-main-head__swiper .swiper .swiper-slide {
    height: 38px;
    font-size: 14px;
    border-radius: 40px;
  }
  .archive-main-head__swiper .swiper .swiper-button-prev {
    top: -1.5px;
    left: 11px;
    width: 40px;
    height: 40px;
  }
  .archive-main-head__swiper .swiper .swiper-button-next {
    top: -1.5px;
    right: 21.5px;
    width: 40px;
    height: 40px;
  }
  .archive-main-head__swiper .swiper-pagination {
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0;
    width: auto;
    font-size: 12px;
  }
  .archive-main-head__keyword {
    width: 280px;
    height: 34px;
    margin: 40px auto 20px auto;
  }
  .archive-main-head__keyword input {
    font-size: 14px;
  }
  .archive-main-head__keyword button {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  .archive-main-head__title {
    margin-bottom: 13px;
    font-size: 18px;
    text-align: center;
  }
  .archive-main-head__title strong {
    margin-top: 10px;
    font-size: 28px;
  }
  .archive-main-head__btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    padding: 0 20px;
  }
  .archive-main-head__btn a {
    position: relative;
    width: 100%;
    margin: 5px auto 0;
    padding: 0 12.5px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.45px;
    font-weight: 400;
  }
  .archive-main-head__btn a br {
    display: block;
  }
  .archive-main-head__btn a strong {
    font-weight: 700;
    font-size: 14px;
  }
  .archive-main-head__btn a img {
    position: absolute;
    right: 10px;
    margin-left: 0px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .archive-main-head__btn a:first-child {
    margin-right: 5px;
  }
  .archive-main-head__btn a:last-child {
    margin-left: 5px;
  }
  .archive-main-head__cloud {
    width: 100%;
    margin: 0 auto;
  }
  .archive-main-head__cloud .jqcloud {
    font-size: 5px;
  }
  .archive-main-head__cloud .jqcloud-word {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 768px) {
  .archive-main-head__cloud {
    height: 40vw;
  }
}

.archive-main-service {
  padding: 107px 0 0 0;
}

.archive-main-service__title {
  margin-bottom: 46px;
  font-size: 39px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.95px;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 1600px) {
  .archive-main-service__title {
    text-align: center;
  }
}

.archive-main-service__link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.archive-main-service__link-hover {
  display: none;
}

.archive-main-service__link a {
  display: block;
  width: 100%;
  max-width: 206px;
  margin: 0 auto;
  text-align: center;
}

.archive-main-service__link a p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 197px;
  border-radius: 50px;
  border: solid 1px #ddd;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.archive-main-service__link a span {
  display: block;
  width: 100%;
  margin-top: 23px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #000;
}

.archive-main-service__link a:hover p {
  background: #235dae;
}

.archive-main-service__link a:hover .archive-main-service__link-img {
  display: none;
}

.archive-main-service__link a:hover .archive-main-service__link-hover {
  display: block;
}

@media screen and (max-width: 1400px) {
  .archive-main-service__link {
    gap: 5px;
  }
  .archive-main-service__link a {
    max-width: 150px;
  }
  .archive-main-service__link a p {
    height: 143px;
    border-radius: 30px;
  }
  .archive-main-service__link a span {
    margin-top: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .archive-main-service {
    padding: 50px 12px 0 12px;
  }
  .archive-main-service__title {
    margin-bottom: 21px;
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  .archive-main-service__link {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
  }
  .archive-main-service__link a {
    width: auto;
  }
  .archive-main-service__link a p {
    width: 96px;
    height: 96px;
    border-radius: 25px;
  }
  .archive-main-service__link a p img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .archive-main-service__link a span {
    margin-top: 11px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1600px) {
  .archive-main-service__link {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.archive-main-archive {
  position: relative;
  margin-top: 118px;
  padding: 80px 0 76px 0;
  background: #f8f8f8;
}

.archive-main-archive__inner {
  max-width: 1560px;
  margin: 0 auto;
}

.archive-main-archive__title {
  margin-bottom: 56px;
  font-size: 39px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.95px;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 1600px) {
  .archive-main-archive__title {
    text-align: center;
  }
}

.archive-main-archive__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.archive-main-archive__list a {
  display: block;
  width: 360px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
}

.archive-main-archive__list a img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-main-archive__list a p {
  margin: 25px 20px 36px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive-main-archive__list a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 24px;
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #000;
}

.archive-main-archive__list a span::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .archive-main-archive__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1400px) {
  .archive-main-archive__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .archive-main-archive__list a {
    width: 300px;
    border-radius: 15px;
  }
  .archive-main-archive__list a img {
    height: 160px;
  }
  .archive-main-archive__list a p {
    margin: 15px 10px 20px;
    font-size: 18px;
  }
  .archive-main-archive__list a span {
    margin: 0 10px 15px;
    font-size: 12px;
  }
  .archive-main-archive__list a span::before {
    width: 24px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .archive-main-archive__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .archive-main-archive__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .archive-main-archive {
    margin-top: 38px;
    padding: 50px 12px 40px 12px;
  }
  .archive-main-archive__title {
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  .archive-main-archive__list a {
    width: 100%;
    border-radius: 12.5px;
  }
  .archive-main-archive__list a img {
    width: 100%;
    height: 125px;
  }
  .archive-main-archive__list a p {
    margin: 10px 10px 10px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .archive-main-archive__list a span {
    margin: 0 10px 10px;
    font-size: 11px;
    letter-spacing: -0.35px;
  }
  .archive-main-archive__list a span::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
}

.archive-view__title {
  margin-bottom: 20px;
  padding: 30px 100px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: -1.3px;
  text-align: center;
  color: #000;
}

.archive-view__image {
  position: relative;
  margin-bottom: 27px;
  font-size: 0;
  line-height: 0;
}

.archive-view__image a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.archive-view__image a p {
  display: inline;
  position: relative;
}

.archive-view__image a p img {
  position: relative;
  max-width: 100%;
  z-index: 10;
}

.archive-view__image a p:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: #000 url(../images/2023/ico-zoom.png) no-repeat 50% 50%;
  background-size: 40px 40px;
}

.archive-view__table {
  margin-bottom: 57px;
}

.archive-view__table table {
  border-top: 1px solid #ddd;
}

.archive-view__table table tbody th,
.archive-view__table table tbody td {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
  letter-spacing: -0.8px;
  color: #000;
}

.archive-view__table table tbody th {
  font-weight: 700;
  background-color: #f9f9f9;
  white-space: nowrap;
}

.archive-view__table table tbody td .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  margin: 10px 15px 0 0;
  padding: 0 30px 0 40px;
  border-radius: 26.3px;
  border: solid 1px #000;
  background-color: #000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
  color: #fff;
}

.archive-view__table table tbody td .btn img {
  margin-left: 12px;
}

.archive-view__slide {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 18px 72px;
  overflow: hidden;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 0;
}

.archive-view__slide .swiper-slide-active img {
  border: 2px solid #000;
}

.archive-view__slide .swiper-slide img {
  width: 120px;
  height: 90px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-view__slide::after {
  content: "";
  display: block;
  clear: both;
}

.archive-view__slide .slider {
  width: 100%;
  overflow: hidden;
}

.archive-view__slide .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 90px;
  margin: 0;
  background: #fff url(../images/2023/slide-prev.png) no-repeat 50% 50%;
  border: 1px solid #333;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  z-index: 20;
}

.archive-view__slide .swiper-button-prev::after {
  display: none;
}

.archive-view__slide .swiper-button-next {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  height: 90px;
  margin: 0;
  background: #fff url(../images/2023/slide-next.png) no-repeat 50% 50%;
  border: 1px solid #333;
  border-radius: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  z-index: 20;
}

.archive-view__slide .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 1400px) {
  .archive-view__slide .swiper-slide img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
  }
}

.archive-view__collection-title {
  padding: 30px 100px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: -1.3px;
  text-align: center;
  color: #000;
}

.archive-view__collection-text {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: -1.3px;
  text-align: left;
  color: #555;
}

.archive-view__collection-img {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  border: solid 1px #ddd;
  background-color: #fff;
  text-align: center;
}

.archive-view__collection-img img {
  max-width: 80%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 25px;
}

@media screen and (max-width: 1024px) {
  .archive-view__collection-img img {
    min-width: 200px;
    max-width: 100%;
  }
}

.archive-view__collection-img strong {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #235dae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
  letter-spacing: 1px;
}

.archive-view__collection-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.archive-view__collection-item:first-child {
  margin-top: 0;
}

.archive-view__collection-item .swiper {
  min-width: 50%;
  width: 50%;
  height: 25vw;
  max-height: 478px;
  border-radius: 25px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.archive-view__collection-item .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-view__collection-item-info {
  position: relative;
  width: 50%;
  padding: 0 32px 0 46px;
}

.archive-view__collection-item-pagination {
  position: relative;
  margin: 0 0 20px 0;
  padding: 20px 0 10px 0;
  border-bottom: 1px dashed #ddd;
}

.archive-view__collection-item-pagination .swiper-pagination {
  position: relative;
  top: auto;
  bottom: auto;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.9px;
  color: #000;
}

.archive-view__collection-item-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: -1.1px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive-view__collection-item-text {
  font-size: 18px;
  letter-spacing: -0.9px;
  color: #656565;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.archive-view__collection-item-view {
  position: absolute;
  left: 46px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #000;
}

.archive-view__collection-item-view::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .archive-view__collection-item .swiper {
    border-radius: 20px;
  }
  .archive-view__collection-item-text {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 1200px) {
  .archive-view__collection-item .swiper {
    border-radius: 15px;
  }
  .archive-view__collection-item-text {
    -webkit-line-clamp: 2;
  }
}

.archive-view__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: 46px;
}

.archive-view__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 228px;
  height: 55px;
  border: 1px solid #000;
  border-radius: 55px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .archive-view__title {
    margin-bottom: 10px;
    padding: 20px 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .archive-view__image {
    margin-bottom: 10px;
  }
  .archive-view__image a:after {
    width: 30px;
    height: 30px;
    background: #000 url(../images/2023/ico-zoom.png) no-repeat 50% 50%;
    background-size: 20px 20px;
  }
  .archive-view__table {
    margin-bottom: 0;
  }
  .archive-view__table table tbody th,
  .archive-view__table table tbody td {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: -0.4px;
  }
  .archive-view__table table tbody td img {
    max-width: 100%;
  }
  .archive-view__table table tbody td p {
    font-size: 11px;
    letter-spacing: -0.5px;
  }
  .archive-view__table table tbody td .btn {
    height: 27px;
    margin: 5px 8px 0 0;
    padding: 0 15px 0 20px;
    border-radius: 13px;
    font-size: 11px;
    letter-spacing: -0.45px;
  }
  .archive-view__table table tbody td .btn img {
    margin-left: 6px;
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }
  .archive-view__slide {
    margin-bottom: 15px;
    padding: 6px 40px;
  }
  .archive-view__slide .swiper-slide img {
    width: 60px;
    height: 45px;
    border-radius: 10px;
  }
  .archive-view__slide .swiper-button-prev {
    left: 0px;
    width: 30px;
    height: 70px;
  }
  .archive-view__slide .swiper-button-next {
    right: 0px;
    width: 30px;
    height: 70px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1400px) {
  .archive-view__slide .swiper-slide img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .archive-view__collection-title {
    padding: 15px 20px;
    font-size: 13px;
    letter-spacing: -0.7px;
  }
  .archive-view__collection-text {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12px;
  }
  .archive-view__collection-img {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
  }
  .archive-view__collection-img img {
    border-radius: 10px;
  }
  .archive-view__collection-img strong {
    padding: 8px;
    font-size: 13px;
  }
  .archive-view__collection-item {
    margin-top: 10px;
    padding: 5px;
    border-radius: 12.5px;
  }
  .archive-view__collection-item .swiper {
    height: 117px;
    height: 40vw;
    border-radius: 12.5px;
  }
  .archive-view__collection-item-info {
    padding: 0 10px;
  }
  .archive-view__collection-item-pagination {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 0;
  }
  .archive-view__collection-item-pagination .swiper-pagination {
    font-size: 12px;
    letter-spacing: -0.45px;
  }
  .archive-view__collection-item .swiper-button-next,
  .archive-view__collection-item .swiper-button-prev {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .archive-view__collection-item .swiper-button-next {
    right: 0;
  }
  .archive-view__collection-item .swiper-button-prev {
    left: 0;
  }
  .archive-view__collection-item-title {
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .archive-view__collection-item-text {
    font-size: 12px;
    letter-spacing: -0.45px;
    -webkit-line-clamp: 6;
  }
  .archive-view__collection-item-view {
    left: 5px;
    bottom: 5px;
    margin-top: 10px;
    font-size: 11px;
    letter-spacing: -0.35px;
    color: #000;
  }
  .archive-view__collection-item-view::before {
    margin-right: 3px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 1024px) and (max-width: 1600px) {
  .archive-view__collection-item .swiper {
    border-radius: 20px;
  }
  .archive-view__collection-item-text {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1200px) {
  .archive-view__collection-item .swiper {
    border-radius: 15px;
  }
  .archive-view__collection-item-text {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 1024px) {
  .archive-view__button {
    margin-top: 23px;
  }
  .archive-view__button a {
    width: 114px;
    height: 27.5px;
    font-size: 11px;
  }
}

.archive-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 40px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #ddd;
}

.archive-list__title strong {
  white-space: nowrap;
  font-size: 20.5px;
  font-weight: bold;
  color: #000;
}

.archive-list__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 18px;
  color: #373737;
}

.archive-list__title p::before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  margin: 0 39px 0 54px;
  background-color: #ddd;
}

.archive-list__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 65px 0 0 0;
  border-bottom: 1px solid #000;
}

.archive-list__tab a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 195px;
  padding: 17px 0 12px 0;
  border-radius: 15px 15px 0 0;
  border: solid 1px #bdbdbd;
  border-bottom: none;
  background-color: #f9f9f9;
  font-size: 18px;
  color: #373737;
}

.archive-list__tab a.active {
  top: 1px;
  font-weight: bold;
  border-color: #000;
  background-color: #fff;
}

.archive-list__searh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.archive-list__searh form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.archive-list__searh-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 308px;
  height: 63px;
  margin-right: 5px;
  padding: 0 25px;
  border-radius: 15px;
  border: solid 1px #ddd;
  background: url(../images/2023/select.png) calc(100% - 18px) 50% no-repeat;
  font-size: 1.1em;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  line-height: 63px;
}

.archive-list__searh-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 557px;
  height: 63px;
  border-radius: 15px;
  border: solid 1px #ddd;
  background-color: #fff;
  overflow: hidden;
}

.archive-list__searh-form input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  border-radius: 15px;
}

.archive-list__searh-form input:focus {
  border: 0;
  outline: 0;
}

.archive-list__searh-form button {
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin: 0 23px;
  background: url(../images/2023/main_keyword-btn.png) no-repeat 50% 50%;
  background-size: cover;
  font-size: 0;
}

.archive-list__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  padding: 0 24px;
  border-bottom: 1px solid #ddd;
}

.archive-list__category a {
  margin-right: 52px;
  font-size: 18px;
  color: #373737;
}

.archive-list__category a.active {
  font-weight: bold;
  color: #096eda;
}

.archive-list__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0;
  border-bottom: 1px dashed #ddd;
}

.archive-list__menu-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.archive-list__menu-all::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  margin: 0 13px 0 21px;
  background-color: #ddd;
  border-radius: 5px;
}

.archive-list__menu-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.archive-list__menu-sort a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #656565;
}

.archive-list__menu-sort a:before {
  content: "";
  display: block;
  width: 1px;
  height: 9px;
  margin: 0 20px;
  background-color: #656565;
}

.archive-list__menu-sort a.active {
  color: #000;
}

.archive-list__menu-sort a.active:after {
  border-color: #000;
}

.archive-list__menu-sort a:first-child::before {
  display: none;
}

.archive-list__menu-sort a::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background: url(../images/2023/sort.png) no-repeat 50% 50%;
  border: solid 1px #bdbdbd;
  border-radius: 4px;
}

.archive-list__menu-sort a.up::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.archive-list__menu-sort button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 121px;
  height: 40px;
  margin-left: 10px;
  border-radius: 19.5px;
  border: solid 1px #bdbdbd;
  background-color: #fff;
}

.archive-list__menu-sort button.archive-list__menu-sort-thumb {
  margin-left: 30px;
}

.archive-list__menu-sort button::before {
  content: "";
  display: block;
  min-width: 13px;
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.archive-list__menu-sort button.active {
  background-color: #000;
  color: #fff;
}

.archive-list__menu-sort-thumb::before {
  background: url(../images/2023/ico-thumb.png) no-repeat 50% 50%;
  background-color: cover;
}

.archive-list__menu-sort-thumb.active::before {
  background: url(../images/2023/ico-thumb-active.png) no-repeat 50% 50%;
  background-color: cover;
}

.archive-list__menu-sort-list::before {
  background: url(../images/2023/ico-list.png) no-repeat 50% 50%;
  background-color: cover;
}

.archive-list__menu-sort-list.active::before {
  background: url(../images/2023/ico-list-active.png) no-repeat 50% 50%;
  background-color: cover;
}

.archive-list__thumb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 56px;
  margin: 30px 0 0 0;
}

.archive-list__thumb a {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
  border: solid 1px #ddd;
}

.archive-list__thumb a img {
  width: 100%;
  height: 277px;
  height: 14.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-list__thumb a p {
  margin: 18px 20px 18px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive-list__thumb a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 24px;
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #000;
}

.archive-list__thumb a span::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .archive-list__thumb {
    gap: 40px;
  }
  .archive-list__thumb a {
    border-radius: 20px;
  }
  .archive-list__thumb a p {
    margin: 14px 20px;
    font-size: 20px;
  }
  .archive-list__thumb a span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .archive-list__thumb {
    gap: 20px;
  }
  .archive-list__thumb a {
    border-radius: 15px;
  }
  .archive-list__thumb a p {
    margin: 14px 15px;
    font-size: 16px;
  }
  .archive-list__thumb a span {
    margin: 0 20px 19px;
    font-size: 12px;
  }
}

.archive-list__file {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 58px;
  margin: 30px 0 0 0;
  row-gap: 44px;
}

.archive-list__file a {
  padding: 27px 20px 32px 23px;
  border-radius: 25px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.archive-list__file a p {
  margin-top: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 1600px) {
  .archive-list__file {
    gap: 58px;
    row-gap: 44px;
  }
  .archive-list__file a {
    border-radius: 20px;
  }
  .archive-list__file a p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .archive-list__file {
    gap: 20px;
  }
  .archive-list__file a {
    border-radius: 15px;
  }
  .archive-list__file a p {
    font-size: 16px;
  }
}

.archive-list__list {
  margin: 30px 0 0 0;
}

.archive-list__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 16px 0;
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
  border: solid 1px #ddd;
}

.archive-list__list a > div {
  width: calc(100% - 15vw);
}

.archive-list__list a img {
  min-width: 290px;
  width: 290px;
  min-width: 6.4vw;
  width: 6.4vw;
  height: 206px;
  height: 4.7vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.archive-list__list a p {
  width: 90%;
  margin: 18px 30px 10px 20px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.archive-list__list a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 22px 0;
  font-size: 14px;
  letter-spacing: -0.7px;
  color: #000;
}

.archive-list__list a span::before {
  content: "";
  display: block;
  width: 21px;
  height: 18px;
  margin-right: 10px;
  background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .archive-list__list a {
    border-radius: 20px;
  }
  .archive-list__list a img {
    border-radius: 20px;
  }
  .archive-list__list a p {
    margin: 14px 20px;
    font-size: 20px;
  }
  .archive-list__list a span {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .archive-list__list a {
    border-radius: 15px;
  }
  .archive-list__list a img {
    border-radius: 15px;
  }
  .archive-list__list a p {
    margin: 14px 15px;
    font-size: 16px;
  }
  .archive-list__list a span {
    margin: 0 20px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .archive-list__title {
    display: block;
    padding: 16px 10px;
  }
  .archive-list__title strong {
    font-size: 13px;
  }
  .archive-list__title p {
    margin-top: 5px;
    font-size: 12px;
  }
  .archive-list__title p::before {
    width: 1px;
    height: 10px;
    margin: 0 20px 0 20px;
    display: none;
  }
  .archive-list__tab {
    margin: 30px 0 0 0;
  }
  .archive-list__tab a {
    min-width: 100px;
    width: 100%;
    padding: 6px 0;
    border-radius: 8px 8px 0 0;
    font-size: 13px;
  }
  .archive-list__searh {
    display: block;
    margin-top: 30px;
  }
  .archive-list__searh-select {
    width: 50%;
    height: 36px;
    margin-right: 5px;
    padding: 0 12px;
    border-radius: 8px;
    background: url(../images/2023/select.png) calc(100% - 18px) 50% no-repeat;
    font-size: 12px;
    line-height: 36px;
  }
  .archive-list__searh-form {
    width: 100%;
    height: 36px;
    border-radius: 8px;
  }
  .archive-list__searh-form input {
    font-size: 11px;
    border-radius: 8px;
  }
  .archive-list__searh-form button {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0 12px;
  }
  .archive-list__category {
    height: 40px;
    padding: 0 12px;
  }
  .archive-list__category a {
    margin-right: 20px;
    font-size: 12px;
  }
  .archive-list__category a:last-child {
    margin-right: 0;
  }
  .archive-list__menu {
    padding: 8px 0;
  }
  .archive-list__menu-all {
    font-size: 12px;
  }
  .archive-list__menu-all::before {
    width: 3px;
    height: 3px;
    margin: 0 3px 0 0;
  }
  .archive-list__menu-sort a {
    font-size: 12px;
  }
  .archive-list__menu-sort a:before {
    width: 1px;
    height: 5px;
    margin: 0 6px;
  }
  .archive-list__menu-sort a::after {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background: url(../images/2023/sort.png) no-repeat 50% 50%;
    border-radius: 3px;
  }
  .archive-list__menu-sort button {
    width: 70px;
    height: 26px;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 12px;
  }
  .archive-list__menu-sort button.archive-list__menu-sort-thumb {
    margin-left: 15px;
  }
  .archive-list__menu-sort button::before {
    min-width: 6px;
    width: 6px;
    height: 6px;
    margin-right: 4px;
  }
  .archive-list__thumb {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0 0 0;
  }
  .archive-list__thumb a {
    border-radius: 12.5px;
  }
  .archive-list__thumb a img {
    height: 26vw;
  }
  .archive-list__thumb a p {
    margin: 8px 10px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .archive-list__thumb a span {
    margin: 0 10px 6px;
    font-size: 12px;
    letter-spacing: -0.35px;
    color: #000;
  }
  .archive-list__thumb a span::before {
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
  .archive-list__file {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 15px 0 0 0;
    row-gap: 10px;
  }
  .archive-list__file a {
    height: auto;
    padding: 15px 10px;
    border-radius: 12.5px;
  }
  .archive-list__file a img {
    width: 12px;
  }
  .archive-list__file a p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: -0.5px;
  }
  .archive-list__list {
    margin: 15px 0 0 0;
  }
  .archive-list__list a {
    border-radius: 12.5px;
    margin: 0 0 15px 0;
  }
  .archive-list__list a img {
    min-width: 20vw;
    width: 20vw;
    height: 16vw;
    border-radius: 12.5px;
  }
  .archive-list__list a > div {
    width: calc(100% - 21vw);
  }
  .archive-list__list a p {
    width: 90%;
    margin: 8px 10px;
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .archive-list__list a span {
    margin: 0 10px 6px;
    font-size: 12px;
    letter-spacing: -0.35px;
    color: #000;
  }
  .archive-list__list a span::before {
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
}

.archive-main__title {
  color: #000;
  text-align: center;
  margin-bottom: 80px;
}

.archive-main__title strong {
  font-size: 32px;
  font-weight: 700;
}

.archive-main__title p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .archive-main__title {
    margin-bottom: 40px;
    text-align: left;
  }
  .archive-main__title strong {
    font-size: 16px;
  }
  .archive-main__title p {
    margin-top: 5px;
    font-size: 12px;
  }
}

.subTop_title {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding: 1.75em 0 1.75em 1em;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 300;
  word-break: keep-all;
}

.mfp-close {
  font-size: 50px !important;
  opacity: 1 !important;
}

.mfp-zoom-out-cur {
  cursor: default !important;
}
