.pc {
	display: block;
}
.mo {
	display: none;
}
@media screen and (max-width: 1024px) {
	.pc {
		display: none;
	}
	.mo {
		display: block;
	}
}
.sub-breadcrumb {
	height: 65px;
	border-bottom: 1px solid #ddd;
	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1560px;
		height: 65px;
		margin: 0 auto;
	}
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 360px;
		height: 100%;
		padding: 0 30px 0 40px;
		border-right: 1px solid #ddd;
		cursor: pointer;
		&:first-child {
			border-left: 1px solid #ddd;
			> strong {
				padding: 0 0 0 40px;
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 21px;
					height: 21px;
					margin-right: 26px;
					background: url(../images/2023/breadcrumb-home.png) no-repeat 50% 50%;
					background-size: cover;
					transform: translateY(-50%);
				}
			}
		}
		&::after {
			content: "";
			display: block;
			width: 14px;
			height: 7px;
			background: url(../images/2023/breadcrumb-arrow.png) no-repeat 50% 50%;
			background-size: cover;
		}
		> strong {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 22px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -1.1px;
			text-align: left;
			color: #000;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&.on {
			> strong {
				color: #096eda;
			}
		}
		&.active {
			.sub-breadcrumb__menu {
				bottom: 0px;
				display: block;
				box-shadow: -1px 4px 9px 1px rgba(0, 0, 0, 0.2);
			}
		}
	}
	&__menu {
		position: absolute;
		bottom: 0;
		left: -1px;
		right: -1px;
		width: auto;
		max-height: 425px;
		background: #fff;
		border: 1px solid #ddd;
		border-top: none;
		transform: translateY(100%);
		overflow: auto;
		z-index: 50;
		//height: 0;
		bottom: 1px;
		//overflow: hidden;
		display: none;
		/* ------------------------------ */
		&::-webkit-scrollbar {
			width: 18px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 9px;
			background-color: #ddd;
		}

		&::-webkit-scrollbar-track {
			background-color: #f6f6f6;
		}

		/* ------------------------------ */
		ul {
			padding: 20px 0;
			li {
				a {
					position: relative;
					display: block;
					padding: 0 40px;
					font-size: 20px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.91;
					letter-spacing: -1.1px;
					text-align: left;
					color: #000;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&:hover {
						background: #096eda;
						color: #fff;
					}
				}
				&.newwindow {
					a {
						&::before {
							content: "";
							display: block;
							position: absolute;
							top: 50%;
							right: 30px;
							width: 12px;
							height: 12px;
							background: url(https://www.sangju.go.kr/archive/resources/homepage/archive/images/icon_blank_black.png) no-repeat 50% 50%;
							transform: translateY(-50%);
						}
						&:hover {
							&::before {
								background: url(https://www.sangju.go.kr/archive/resources/homepage/archive/images/icon_blank_white.png) no-repeat 50% 50%;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 1024px) {
		height: 49px;
		&__inner {
			height: 49px;
		}
		&__item {
			min-width: 33.333%;
			width: 100%;
			padding: 0 15px 0 15px;
			&:first-child {
				border-left: 1px solid #ddd;
				> strong {
					padding: 0 0 0 20px;
					&::before {
						width: 10.5px;
						height: 10.5px;
						margin-right: 10px;
					}
				}
			}
			&::after {
				min-width: 7px;
				width: 7px;
				height: 3.5px;
			}
			> strong {
				font-size: 12px;
				letter-spacing: -0.55px;
			}
			&.active {
				.sub-breadcrumb__menu {
					max-height: 244px;
					box-shadow: -0.5px 2px 4.5px 0.5px rgba(0, 0, 0, 0.2);
				}
			}
		}
		&__menu {
			&::-webkit-scrollbar {
				width: 9px;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 4.5px;
			}
			ul {
				padding: 10px 20px;
				li {
					a {
						font-size: 11px;
						letter-spacing: -0.55px;
					}
				}
			}
		}
	}
}
.subBody {
	&__title {
		display: flex;
		align-items: center;
		height: 113px;
		padding: 0 20px;
		border-bottom: 1px solid #ddd;
		font-size: 34px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -1.7px;
		text-align: left;
		color: #000;
		@media screen and (max-width: 1024px) {
			display: none;
		}
	}
}
.subMenu-depth {
	// float: left;
	// width: 16%;
	// min-width: 235px;
	// max-width: 235px;
	// padding-left: 0;
	// margin-bottom: 4em;

	float: left;
	width: 16%;
	// padding-left: 1em;
	margin-bottom: 4em;

	@media screen and (max-width: 1024px) {
		display: none;
	}
	&__banner {
		margin-top: 30px;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 235px;
			height: 46px;
			margin-bottom: 10px;
			padding: 0 13px 0 20px;
			border-radius: 22.5px;
			border: solid 1px #235dae;
			background-color: #fff;
			font-size: 14px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -1.05px;
			text-align: left;
			color: #000;
			br {
				display: none;
			}
		}
		@media screen and (max-width: 1400px) {
			a {
				width: auto;
				font-size: 14px;
				padding: 0 8px 0 15px;
				br {
					display: block;
				}
			}
		}
		@media screen and (max-width: 1200px) {
			a {
				font-size: 12px;
			}
		}
	}
	ul {
		li {
			a {
				span {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	> ul {
		> li {
			> a {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 60px;
				padding: 0 20px;
				border-bottom: 1px solid #dee4f1;
				font-size: 18px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 3;
				letter-spacing: -0.9px;
				text-align: left;
				color: #000;
				&::after {
					content: "";
					display: block;
					width: 6px;
					height: 11px;
					background: url(../images/2023/snb-arrow.png) no-repeat 50% 50%;
				}
				@media screen and (max-width: 1400px) {
					padding: 0 15px;
					font-size: 16px;
				}
			}
			&.active {
				> a {
					font-weight: bold;
					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						width: 5px;
						background: #096eda;
					}
				}
			}
			> ul {
				> li {
					> a {
						display: flex;
						align-items: center;
						height: 50px;
						padding: 0 20px;
						background: #f3f6ff;
						border-bottom: 1px solid #dee4f1;
						font-size: 16px;
						font-weight: normal;
						font-stretch: normal;
						font-style: normal;
						line-height: 3.13;
						letter-spacing: -0.8px;
						text-align: left;
						color: #000;
						&::before {
							content: "";
							display: block;
							width: 8px;
							height: 8px;
							margin-right: 9px;
							background: url(../images/2023/snb-bl.png) no-repeat 50% 50%;
						}
						@media screen and (max-width: 1400px) {
							padding: 0 15px;
							font-size: 14px;
						}
					}
					&.active {
						> a {
							color: #096eda;
							font-weight: bold;
						}
					}
					> ul {
						> li {
							> a {
								display: flex;
								align-items: center;
								height: 44px;
								padding: 0 36px;

								font-size: 14px;
								font-weight: normal;
								font-stretch: normal;
								font-style: normal;
								line-height: 2.93;
								letter-spacing: normal;
								text-align: left;
								color: #000;
								&::before {
									content: "-";
									display: block;
									margin-right: 5px;
								}
								@media screen and (max-width: 1400px) {
									padding: 0 28px;
									font-size: 12px;
								}
							}
							&.active {
								> a {
									font-weight: 700;
								}
							}
							> ul {
								background-color: #fafafa;
								border-bottom: 1px solid #eff0f4;
								border-top: 1px dashed #eff0f4;
								> li {
									&:first-child {
										padding-top: 10px;
									}
									&:last-child {
										padding-bottom: 10px;
									}
									> a {
										display: flex;
										align-items: center;
										height: 30px;
										padding: 0 50px;
										font-size: 14px;
										font-weight: 300;
										font-stretch: normal;
										font-style: normal;
										line-height: 2.67;
										letter-spacing: normal;
										text-align: left;
										color: #a3a3a3;
									}
									&.active {
										a {
											color: #000;
										}
									}
								}
							}
						}
					}
				}
			}
			ul {
				max-height: 0;
				overflow: hidden;
				//transition: all 0.6s ease;
			}
		}
	}
	.active {
		> ul {
			max-height: 1000px;
			//transition: all 4s ease;
		}
	}
}
.subMenu-mobile {
	display: none;
	padding: 10px 6px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	select {
		width: 100%;
		margin: 0 6px;
		border-radius: 10px;
		font-size: 12px;
	}
	@media screen and (max-width: 1024px) {
		display: flex;
	}
}
.archive-main {
	max-width: 1560px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	@media screen and (max-width: 1024px) {
		padding: 10px 0 0;
	}
	@media screen and (max-width: 640px) {
		padding: 10px 0 0;
	}
	&-head {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		//height: 669px;
		padding: 99px 84px;
		background: url(../images/2023/main_bg.png) no-repeat 50% 50%;
		background-size: cover;
		border-radius: 50px;
		overflow: hidden;
		transition: all 0.2s ease;
		&__swiper {
			position: relative;
			display: flex;
			align-content: center;
			width: 511px;
			height: 67px;
			border-radius: 32px;
			border: solid 3px #235dae;
			background-color: #fff;

			&-title {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				top: -3px;
				left: -3px;
				min-width: 106px;
				width: 106px;
				height: 67px;
				border-radius: 32.5px;
				background-color: #235dae;
				font-size: 22px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #fff;
			}
			.swiper {
				width: 100%;
				overflow: hidden;
				.swiper-slide {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 61px;
					background: #fff;
					font-size: 22px;
					font-weight: bold;
					text-align: center;
					color: #000;
					border-radius: 32.5px;
				}
				.swiper-button-prev {
					top: -3px;
					left: 22px;
					width: 67px;
					height: 67px;
					margin: 0;
					background: url(../images/2023/main-slide-prev.png) no-repeat 50% 50%;
					&:after {
						display: none;
					}
				}
				.swiper-button-next {
					top: -3px;
					right: 43px;
					width: 67px;
					height: 67px;
					margin: 0;
					background: url(../images/2023/main-slide-next.png) no-repeat 50% 50%;
					&:after {
						display: none;
					}
				}
			}
			.swiper-pagination {
				position: absolute;
				bottom: -6px;
				right: -40px;
				left: auto;
				width: auto;
				font-size: 14px;
				color: #000;
				&-current {
					color: #235dae;
					font-weight: bold;
				}
			}
		}
		&__keyword {
			display: flex;
			align-items: center;
			width: 510px;
			height: 59px;
			margin: 33px 0 78px 0;
			border-bottom: 1px solid #000;
			input {
				width: 100%;
				height: 100%;
				padding: 0;
				background: none;
				border: none;
				font-size: 20px;
				color: #000;
				&:focus {
					outline: none;
				}
			}
			button {
				min-width: 32px;
				width: 32px;
				height: 32px;
				background: url(../images/2023/main_keyword-btn.png) no-repeat 50% 50%;
				background-size: cover;
				font-size: 0;
			}
		}
		&__title {
			margin-bottom: 13px;
			font-size: 37.5px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #000;
			strong {
				display: block;
				margin-top: 6px;
				font-size: 58.5px;
				font-weight: bold;
			}
		}
		&__btn {
			display: flex;
			a {
				display: flex;
				align-items: center;
				height: 54px;
				margin-right: 10px;
				padding: 0 25px;
				border-radius: 26.3px;
				border: solid 1px #235dae;
				background-color: #fff;
				font-size: 18px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.9px;
				text-align: left;
				color: #000;
				white-space: nowrap;
				br {
					display: none;
				}
				img {
					margin-left: 15px;
				}
			}
		}
		&__cloud {
			width: 100%;
			height: 20vw;
			opacity: 0;
			transition: all 0.6s ease;
			.mainWordCloud_shape {
				height: 100%;
			}
			.mainWordCloud_shape__inner {
				height: 100%;
			}
			&.active {
				opacity: 1;
				.jqcloud-word {
					color: #fff !important;
				}
			}
			.jqcloud-word {
				padding: 10px 20px;
				background: #fff;
				border-radius: 60px;
				//color: #fff !important;
			}
			.jqcloud {
				font-family: "SCDream", "Noto Sans KR" !important;
			}
		}
		@media screen and (max-width: 1600px) {
			width: auto;
			margin: 0 20px;
			padding: 99px 20px;
			border-radius: 25px;
		}
		@media screen and (max-width: 1024px) {
			display: block;
			margin: 12px 12px 0;
			padding: 14vw 20px 80px;
			&__swiper {
				width: 300px;
				height: 40px;
				margin: 0 auto;
				border-radius: 40px;
				border: solid 1.5px #235dae;

				&-title {
					top: -1.5px;
					left: -1.5px;
					min-width: 53px;
					width: 53px;
					height: 40px;
					border-radius: 40px;
					font-size: 13px;
				}
				.swiper {
					.swiper-slide {
						height: 38px;
						font-size: 14px;
						border-radius: 40px;
					}
					.swiper-button-prev {
						top: -1.5px;
						left: 11px;
						width: 40px;
						height: 40px;
					}
					.swiper-button-next {
						top: -1.5px;
						right: 21.5px;
						width: 40px;
						height: 40px;
					}
				}
				.swiper-pagination {
					position: absolute;
					bottom: -24px;
					right: 0;
					left: 0;
					width: auto;
					font-size: 12px;
				}
			}
			&__keyword {
				width: 280px;
				height: 34px;
				//margin: 33px auto 25px auto;
				margin: 40px auto 20px auto;
				input {
					font-size: 14px;
				}
				button {
					min-width: 24px;
					width: 24px;
					height: 24px;
				}
			}
			&__title {
				margin-bottom: 13px;
				font-size: 18px;
				text-align: center;
				strong {
					margin-top: 10px;
					font-size: 28px;
				}
			}
			&__btn {
				position: absolute;
				left: 0;
				bottom: 20px;
				right: 0;
				padding: 0 20px;
				a {
					position: relative;

					width: 100%;
					//height: 27px;
					margin: 5px auto 0;
					padding: 0 12.5px;
					font-size: 12px;
					line-height: 1.5;
					letter-spacing: -0.45px;
					font-weight: 400;
					br {
						display: block;
					}
					strong {
						font-weight: 700;
						font-size: 14px;
					}
					img {
						position: absolute;
						right: 10px;
						margin-left: 0px;
						transform: scale(0.7);
					}
					&:first-child {
						margin-right: 5px;
					}
					&:last-child {
						margin-left: 5px;
					}
				}
			}
			&__cloud {
				width: 100%;
				margin: 0 auto;
				.jqcloud {
					font-size: 5px;
				}
				.jqcloud-word {
					padding: 5px 10px;
				}
			}
		}
		@media screen and (max-width: 768px) {
			&__cloud {
				height: 40vw;
			}
		}
	}
	&-service {
		padding: 107px 0 0 0;
		&__title {
			margin-bottom: 46px;
			font-size: 39px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -1.95px;
			text-align: left;
			color: #000;
			@media screen and (max-width: 1600px) {
				text-align: center;
			}
		}
		&__link {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			gap: 10px;
			&-hover {
				display: none;
			}
			a {
				display: block;
				width: 100%;
				max-width: 206px;
				margin: 0 auto;
				text-align: center;
				p {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 197px;
					border-radius: 50px;
					border: solid 1px #ddd;
					background-color: #fff;
					transition: all 0.2s ease;
				}
				span {
					display: block;
					width: 100%;
					margin-top: 23px;
					font-size: 20px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: -1px;
					text-align: center;
					color: #000;
				}
				&:hover {
					p {
						background: #235dae;
					}
					.archive-main-service__link-img {
						display: none;
					}
					.archive-main-service__link-hover {
						display: block;
					}
				}
			}
			@media screen and (max-width: 1400px) {
				gap: 5px;
				a {
					max-width: 150px;
					p {
						height: 143px;
						border-radius: 30px;
					}
					span {
						margin-top: 15px;
						font-size: 16px;
					}
				}
			}
		}
		@media screen and (max-width: 1024px) {
			padding: 50px 12px 0 12px;
			&__title {
				margin-bottom: 21px;
				font-size: 18px;
				letter-spacing: -0.8px;
			}
			&__link {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 23px;
				a {
					width: auto;
					p {
						width: 96px;
						height: 96px;
						border-radius: 25px;
						img {
							transform: scale(0.5);
						}
					}
					span {
						margin-top: 11px;
						font-size: 12px;
						letter-spacing: -0.5px;
					}
				}
				@media screen and (max-width: 1600px) {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
		}
	}
	&-archive {
		position: relative;
		margin-top: 118px;
		padding: 80px 0 76px 0;
		background: #f8f8f8;
		&__inner {
			max-width: 1560px;
			margin: 0 auto;
		}
		&__title {
			margin-bottom: 56px;
			font-size: 39px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: -1.95px;
			text-align: left;
			color: #000;
			@media screen and (max-width: 1600px) {
				text-align: center;
			}
		}
		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 40px;
			a {
				display: block;
				width: 360px;
				margin: 0 auto;
				border-radius: 25px;
				background-color: #fff;
				overflow: hidden;
				img {
					width: 100%;
					height: 260px;
					object-fit: cover;
				}
				p {
					margin: 25px 20px 36px;
					font-size: 22px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: normal;
					letter-spacing: -1.1px;
					text-align: left;
					color: #000;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span {
					display: flex;
					align-items: center;
					margin: 0 20px 24px;
					font-size: 14px;
					letter-spacing: -0.7px;
					color: #000;
					&::before {
						content: "";
						display: block;
						width: 21px;
						height: 18px;
						margin-right: 10px;
						background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
						background-size: cover;
					}
				}
			}
			@media screen and (max-width: 1600px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@media screen and (max-width: 1400px) {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 40px;
				a {
					width: 300px;
					border-radius: 15px;
					img {
						height: 160px;
					}
					p {
						margin: 15px 10px 20px;
						font-size: 18px;
					}
					span {
						margin: 0 10px 15px;
						font-size: 12px;
						&::before {
							width: 24px;
							height: 16px;
							margin-right: 10px;
						}
					}
				}
			}
			@media screen and (max-width: 1024px) {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 16px;
			}
			@media screen and (max-width: 768px) {
				grid-template-columns: 1fr 1fr;
			}
		}
		@media screen and (max-width: 1024px) {
			margin-top: 38px;
			padding: 50px 12px 40px 12px;
			&__title {
				margin-bottom: 20px;
				font-size: 18px;
				letter-spacing: -0.8px;
			}
			&__list {
				a {
					width: 100%;
					border-radius: 12.5px;
					img {
						width: 100%;
						height: 125px;
					}
					p {
						margin: 10px 10px 10px;
						font-size: 12px;
						letter-spacing: -0.5px;
					}
					span {
						margin: 0 10px 10px;
						font-size: 11px;
						letter-spacing: -0.35px;
						&::before {
							content: "";
							display: block;
							width: 12px;
							height: 8px;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}
.archive-view {
	&__title {
		margin-bottom: 20px;
		padding: 30px 100px;
		background-color: #f9f9f9;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		font-size: 26px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.62;
		letter-spacing: -1.3px;
		text-align: center;
		color: #000;
	}
	&__image {
		position: relative;
		margin-bottom: 27px;
		font-size: 0;
		line-height: 0;
		a {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			p {
				display: inline;
				position: relative;
				img {
					position: relative;
					max-width: 100%;
					z-index: 10;
				}
				&:after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					width: 60px;
					height: 60px;
					z-index: 20;
					background: #000 url(../images/2023/ico-zoom.png) no-repeat 50% 50%;
					background-size: 40px 40px;
				}
			}
		}
	}
	&__table {
		margin-bottom: 57px;
		table {
			border-top: 1px solid #ddd;
			tbody {
				th,
				td {
					padding: 10px 20px;
					border-bottom: 1px solid #ddd;
					text-align: left;
					font-size: 16px;
					letter-spacing: -0.8px;
					color: #000;
				}
				th {
					font-weight: 700;
					background-color: #f9f9f9;
					white-space: nowrap;
				}
				td {
					p {
					}
					.btn {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						height: 54px;
						margin: 10px 15px 0 0;
						padding: 0 30px 0 40px;
						border-radius: 26.3px;
						border: solid 1px #000;
						background-color: #000;
						font-size: 18px;
						font-weight: bold;
						letter-spacing: -0.9px;
						color: #fff;
						img {
							margin-left: 12px;
						}
					}
				}
			}
		}
	}
	&__slide {
		position: relative;
		width: 100%;
		margin-bottom: 25px;
		padding: 18px 72px;
		overflow: hidden;
		background-color: #f9f9f9;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		line-height: 0;
		.swiper-slide {
			&-active {
				img {
					border: 2px solid #000;
				}
			}
			img {
				width: 120px;
				height: 90px;
				border-radius: 20px;
				object-fit: cover;
			}
		}
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		.slider {
			width: 100%;
			overflow: hidden;
		}

		.swiper-button-prev {
			position: absolute;
			top: 50%;
			left: 20px;
			width: 40px;
			height: 90px;
			margin: 0;
			background: #fff url(../images/2023/slide-prev.png) no-repeat 50% 50%;
			border: 1px solid #333;
			border-radius: 10px;
			transform: translateY(-50%);
			font-size: 0;
			z-index: 20;
			&::after {
				display: none;
			}
		}
		.swiper-button-next {
			position: absolute;
			top: 50%;
			right: 20px;
			width: 40px;
			height: 90px;
			margin: 0;
			background: #fff url(../images/2023/slide-next.png) no-repeat 50% 50%;
			border: 1px solid #333;
			border-radius: 10px;
			transform: translateY(-50%);
			font-size: 0;
			z-index: 20;
			&::after {
				display: none;
			}
		}
		@media screen and (max-width: 1400px) {
			.swiper-slide {
				img {
					width: 100px;
					height: 70px;
					border-radius: 10px;
				}
			}
		}
	}
	&__collection {
		&-title {
			padding: 30px 100px;
			background-color: #f9f9f9;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			font-size: 26px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.62;
			letter-spacing: -1.3px;
			text-align: center;
			color: #000;
		}
		&-text {
			margin-bottom: 20px;
			padding: 20px;

			border-bottom: 1px solid #ddd;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.62;
			letter-spacing: -1.3px;
			text-align: left;
			color: #555;
		}
		&-img {
			position: relative;
			margin-top: 20px;
			padding: 10px;
			border-radius: 25px;
			border: solid 1px #ddd;
			background-color: #fff;
			text-align: center;
			img {
				//width: 80%;
				max-width: 80%;
				min-width: 300px;
				max-width: 600px;
				border-radius: 25px;
				@media screen and (max-width: 1024px) {
					min-width: 200px;
					max-width: 100%;
				}
			}
			strong {
				position: absolute;
				top: -1px;
				right: -1px;
				background-color: #235dae;
				display: flex;
				align-items: center;
				padding: 10px;
				color: #fff;
				letter-spacing: 1px;
			}
		}
		&-item {
			display: flex;
			margin-top: 20px;
			padding: 10px;
			border-radius: 25px;
			border: solid 1px #ddd;
			background-color: #fff;
			&:first-child {
				margin-top: 0;
			}
			.swiper {
				min-width: 50%;
				width: 50%;
				height: 25vw;
				max-height: 478px;
				border-radius: 25px;
				border: solid 1px #ddd;
				background-color: #fff;
				&-slide {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			&-info {
				position: relative;
				width: 50%;
				padding: 0 32px 0 46px;
			}
			&-pagination {
				position: relative;
				margin: 0 0 20px 0;
				padding: 20px 0 10px 0;
				border-bottom: 1px dashed #ddd;
				.swiper-pagination {
					position: relative;
					top: auto;
					bottom: auto;
					text-align: right;
					font-size: 18px;
					font-weight: bold;
					letter-spacing: -0.9px;
					color: #000;
				}
			}
			&-title {
				width: 100%;
				margin-bottom: 20px;
				font-size: 22px;
				letter-spacing: -1.1px;
				color: #000;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&-text {
				font-size: 18px;
				letter-spacing: -0.9px;
				color: #656565;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
			}
			&-view {
				position: absolute;
				left: 46px;
				bottom: 20px;
				display: flex;
				align-items: center;
				margin-top: 20px;
				font-size: 14px;
				letter-spacing: -0.7px;
				color: #000;
				&::before {
					content: "";
					display: block;
					width: 21px;
					height: 18px;
					margin-right: 10px;
					background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
					background-size: cover;
				}
			}
			@media screen and (max-width: 1600px) {
				.swiper {
					border-radius: 20px;
				}
				&-text {
					-webkit-line-clamp: 3;
				}
			}
			@media screen and (max-width: 1200px) {
				.swiper {
					border-radius: 15px;
				}
				&-text {
					-webkit-line-clamp: 2;
				}
			}
		}
	}
	&__button {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: 46px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 228px;
			height: 55px;
			border: 1px solid #000;
			border-radius: 55px;
			font-size: 16px;
			font-weight: 700;
		}
	}
	@media screen and (max-width: 1024px) {
		&__title {
			margin-bottom: 10px;
			padding: 20px 20px;
			font-size: 12px;
			letter-spacing: -0.5px;
		}
		&__image {
			margin-bottom: 10px;
			a {
				&:after {
					width: 30px;
					height: 30px;
					background: #000 url(../images/2023/ico-zoom.png) no-repeat 50% 50%;
					background-size: 20px 20px;
				}
			}
		}
		&__table {
			margin-bottom: 0;
			table {
				tbody {
					th,
					td {
						padding: 5px 10px;
						font-size: 12px;
						letter-spacing: -0.4px;
					}
					td {
						img {
							max-width: 100%;
						}
						p {
							font-size: 11px;
							letter-spacing: -0.5px;
						}
						.btn {
							height: 27px;
							margin: 5px 8px 0 0;
							padding: 0 15px 0 20px;
							border-radius: 13px;
							font-size: 11px;
							letter-spacing: -0.45px;
							img {
								margin-left: 6px;
								transform: scale(50%);
							}
						}
					}
				}
			}
		}
		&__slide {
			margin-bottom: 15px;
			padding: 6px 40px;
			.swiper-slide {
				img {
					width: 60px;
					height: 45px;
					border-radius: 10px;
				}
			}
			.swiper-button-prev {
				left: 0px;
				width: 30px;
				height: 70px;
			}
			.swiper-button-next {
				right: 0px;
				width: 30px;
				height: 70px;
			}
			@media screen and (max-width: 1400px) {
				.swiper-slide {
					img {
						width: 100px;
						height: 70px;
						border-radius: 10px;
					}
				}
			}
		}
		&__collection {
			&-title {
				padding: 15px 20px;
				font-size: 13px;
				letter-spacing: -0.7px;
			}
			&-text {
				margin-bottom: 20px;
				padding: 10px;
				font-size: 12px;
			}
			&-img {
				margin-top: 10px;
				padding: 5px;
				border-radius: 10px;
				img {
					border-radius: 10px;
				}
				strong {
					padding: 8px;
					font-size: 13px;
				}
			}
			&-item {
				margin-top: 10px;
				padding: 5px;
				border-radius: 12.5px;
				.swiper {
					height: 117px;
					height: 40vw;
					border-radius: 12.5px;
				}
				&-info {
					padding: 0 10px;
				}
				&-pagination {
					margin: 0 0 10px 0;
					padding: 5px 0 5px 0;
					.swiper-pagination {
						font-size: 12px;
						letter-spacing: -0.45px;
					}
				}
				.swiper-button-next,
				.swiper-button-prev {
					transform: scale(0.5);
				}
				.swiper-button-next {
					right: 0;
				}
				.swiper-button-prev {
					left: 0;
				}
				&-title {
					margin-bottom: 5px;
					font-size: 12px;
					letter-spacing: -0.5px;
				}
				&-text {
					font-size: 12px;
					letter-spacing: -0.45px;
					-webkit-line-clamp: 6;
				}
				&-view {
					left: 5px;
					bottom: 5px;
					margin-top: 10px;
					font-size: 11px;
					letter-spacing: -0.35px;
					color: #000;
					&::before {
						margin-right: 3px;
						transform: scale(0.7);
					}
				}
				@media screen and (max-width: 1600px) {
					.swiper {
						border-radius: 20px;
					}
					&-text {
						-webkit-line-clamp: 3;
					}
				}
				@media screen and (max-width: 1200px) {
					.swiper {
						border-radius: 15px;
					}
					&-text {
						-webkit-line-clamp: 2;
					}
				}
			}
		}
		&__button {
			margin-top: 23px;
			a {
				width: 114px;
				height: 27.5px;
				font-size: 11px;
			}
		}
	}
}
.archive-list {
	&__title {
		display: flex;
		align-items: center;
		padding: 32px 40px;
		border-top: 1px solid #000000;
		border-bottom: 1px solid #ddd;
		strong {
			white-space: nowrap;
			font-size: 20.5px;
			font-weight: bold;
			color: #000;
		}
		p {
			display: flex;
			align-items: center;
			position: relative;
			font-size: 18px;
			color: #373737;
			&::before {
				content: "";
				display: block;
				width: 1px;
				height: 20px;
				margin: 0 39px 0 54px;
				background-color: #ddd;
			}
		}
	}
	&__tab {
		display: flex;
		margin: 65px 0 0 0;
		border-bottom: 1px solid #000;
		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 195px;
			padding: 17px 0 12px 0;
			border-radius: 15px 15px 0 0;
			border: solid 1px #bdbdbd;
			border-bottom: none;
			background-color: #f9f9f9;
			font-size: 18px;
			color: #373737;
			&.active {
				top: 1px;
				font-weight: bold;
				border-color: #000;
				background-color: #fff;
			}
		}
	}
	&__searh {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 60px;
		form {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		&-select {
			display: flex;
			align-items: center;
			width: 308px;
			height: 63px;
			margin-right: 5px;
			padding: 0 25px;
			border-radius: 15px;
			border: solid 1px #ddd;
			background: url(../images/2023/select.png) calc(100% - 18px) 50% no-repeat;
			font-size: 1.1em;
			font-size: 20px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #000;
			line-height: 63px;
		}
		&-form {
			display: flex;
			align-items: center;
			width: 557px;
			height: 63px;
			border-radius: 15px;
			border: solid 1px #ddd;
			background-color: #fff;
			overflow: hidden;
			input {
				width: 100%;
				height: 100%;
				border: none;
				font-size: 20px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: left;
				color: #000;
				border-radius: 15px;
				&:focus {
					border: 0;
					outline: 0;
				}
			}
			button {
				min-width: 32px;
				width: 32px;
				height: 32px;
				margin: 0 23px;
				background: url(../images/2023/main_keyword-btn.png) no-repeat 50% 50%;
				background-size: cover;
				font-size: 0;
			}
		}
	}
	&__category {
		display: flex;
		align-items: center;
		height: 68px;
		padding: 0 24px;
		border-bottom: 1px solid #ddd;
		a {
			margin-right: 52px;
			font-size: 18px;
			color: #373737;
			&.active {
				font-weight: bold;
				color: #096eda;
			}
		}
	}
	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 17px 0;
		border-bottom: 1px dashed #ddd;
		&-all {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #000;
			&::before {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				margin: 0 13px 0 21px;
				background-color: #ddd;
				border-radius: 5px;
			}
		}
		&-sort {
			display: flex;
			align-items: center;
			a {
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #656565;
				&:before {
					content: "";
					display: block;
					width: 1px;
					height: 9px;
					margin: 0 20px;
					background-color: #656565;
				}
				&.active {
					color: #000;
					&:after {
						border-color: #000;
					}
				}
				&:first-child {
					&::before {
						display: none;
					}
				}
				&::after {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					margin-left: 10px;
					background: url(../images/2023/sort.png) no-repeat 50% 50%;
					border: solid 1px #bdbdbd;
					border-radius: 4px;
				}
				&.up {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 121px;
				height: 40px;
				margin-left: 10px;
				border-radius: 19.5px;
				border: solid 1px #bdbdbd;
				background-color: #fff;
				&.archive-list__menu-sort-thumb {
					margin-left: 30px;
				}
				&::before {
					content: "";
					display: block;
					min-width: 13px;
					width: 13px;
					height: 13px;
					margin-right: 8px;
				}
				&.active {
					background-color: #000;
					color: #fff;
				}
			}
			&-thumb {
				&::before {
					background: url(../images/2023/ico-thumb.png) no-repeat 50% 50%;
					background-color: cover;
				}
				&.active {
					&::before {
						background: url(../images/2023/ico-thumb-active.png) no-repeat 50% 50%;
						background-color: cover;
					}
				}
			}
			&-list {
				&::before {
					background: url(../images/2023/ico-list.png) no-repeat 50% 50%;
					background-color: cover;
				}
				&.active {
					&::before {
						background: url(../images/2023/ico-list-active.png) no-repeat 50% 50%;
						background-color: cover;
					}
				}
			}
		}
	}
	&__thumb {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 56px;
		margin: 30px 0 0 0;
		a {
			display: block;
			width: 100%;
			margin: 0 auto;
			border-radius: 25px;
			background-color: #fff;
			overflow: hidden;
			border: solid 1px #ddd;
			img {
				width: 100%;
				height: 277px;
				height: 14.5vw;
				object-fit: cover;
			}
			p {
				margin: 18px 20px 18px;
				font-size: 22px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -1.1px;
				text-align: left;
				color: #000;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			span {
				display: flex;
				align-items: center;
				margin: 0 20px 24px;
				font-size: 14px;
				letter-spacing: -0.7px;
				color: #000;
				&::before {
					content: "";
					display: block;
					width: 21px;
					height: 18px;
					margin-right: 10px;
					background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
					background-size: cover;
				}
			}
		}
		@media screen and (max-width: 1600px) {
			gap: 40px;
			a {
				border-radius: 20px;
				p {
					margin: 14px 20px;
					font-size: 20px;
				}
				span {
					font-size: 12px;
				}
			}
		}
		@media screen and (max-width: 1200px) {
			gap: 20px;
			a {
				border-radius: 15px;
				p {
					margin: 14px 15px;
					font-size: 16px;
				}
				span {
					margin: 0 20px 19px;
					font-size: 12px;
				}
			}
		}
	}
	&__file {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 58px;
		margin: 30px 0 0 0;
		row-gap: 44px;
		a {
			padding: 27px 20px 32px 23px;
			border-radius: 25px;
			border: solid 1px #ddd;
			background-color: #fff;
			p {
				margin-top: 12px;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;

				font-size: 22px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -1.1px;
				text-align: left;
				color: #000;
			}
		}
		@media screen and (max-width: 1600px) {
			gap: 58px;
			row-gap: 44px;
			a {
				border-radius: 20px;
				p {
					font-size: 20px;
				}
			}
		}
		@media screen and (max-width: 1200px) {
			gap: 20px;
			a {
				border-radius: 15px;
				p {
					font-size: 16px;
				}
			}
		}
	}
	&__list {
		margin: 30px 0 0 0;
		a {
			display: flex;
			width: 100%;
			margin: 0 0 16px 0;
			border-radius: 25px;
			background-color: #fff;
			overflow: hidden;
			border: solid 1px #ddd;
			> div {
				width: calc(100% - 15vw);
			}
			img {
				min-width: 290px;
				width: 290px;
				min-width: 6.4vw;
				width: 6.4vw;
				height: 206px;
				height: 4.7vw;
				object-fit: cover;
				border-radius: 25px;
			}
			p {
				width: 90%;
				margin: 18px 30px 10px 20px;
				font-size: 22px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -1.1px;
				text-align: left;
				color: #000;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			span {
				display: flex;
				align-items: center;
				margin: 0 22px 0;
				font-size: 14px;
				letter-spacing: -0.7px;
				color: #000;
				&::before {
					content: "";
					display: block;
					width: 21px;
					height: 18px;
					margin-right: 10px;
					background: url(../images/2023/ico-folder.png) no-repeat 50% 50%;
					background-size: cover;
				}
			}
		}
		@media screen and (max-width: 1600px) {
			a {
				border-radius: 20px;
				img {
					border-radius: 20px;
				}
				p {
					margin: 14px 20px;
					font-size: 20px;
				}
				span {
					font-size: 12px;
				}
			}
		}
		@media screen and (max-width: 1200px) {
			a {
				border-radius: 15px;
				img {
					border-radius: 15px;
				}
				p {
					margin: 14px 15px;
					font-size: 16px;
				}
				span {
					margin: 0 20px 0;
					font-size: 12px;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		&__title {
			display: block;
			padding: 16px 10px;
			strong {
				font-size: 13px;
			}
			p {
				margin-top: 5px;
				font-size: 12px;
				&::before {
					width: 1px;
					height: 10px;
					margin: 0 20px 0 20px;
					display: none;
				}
			}
		}
		&__tab {
			margin: 30px 0 0 0;
			a {
				min-width: 100px;
				width: 100%;
				padding: 6px 0;
				border-radius: 8px 8px 0 0;
				font-size: 13px;
			}
		}
		&__searh {
			display: block;
			margin-top: 30px;
			form {
				//display: block;
			}
			&-select {
				width: 50%;
				height: 36px;
				//margin-bottom: 4px;
				margin-right: 5px;
				padding: 0 12px;
				border-radius: 8px;
				background: url(../images/2023/select.png) calc(100% - 18px) 50% no-repeat;
				font-size: 12px;
				line-height: 36px;
			}
			&-form {
				width: 100%;
				height: 36px;
				border-radius: 8px;
				input {
					font-size: 11px;
					border-radius: 8px;
				}
				button {
					min-width: 20px;
					width: 20px;
					height: 20px;
					margin: 0 12px;
				}
			}
		}
		&__category {
			height: 40px;
			padding: 0 12px;
			a {
				margin-right: 20px;
				font-size: 12px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__menu {
			padding: 8px 0;
			&-all {
				font-size: 12px;
				&::before {
					width: 3px;
					height: 3px;
					margin: 0 3px 0 0;
				}
			}
			&-sort {
				a {
					font-size: 12px;
					&:before {
						width: 1px;
						height: 5px;
						margin: 0 6px;
					}
					&::after {
						width: 16px;
						height: 16px;
						margin-left: 5px;
						background: url(../images/2023/sort.png) no-repeat 50% 50%;
						border-radius: 3px;
					}
				}
				button {
					width: 70px;
					height: 26px;
					margin-left: 5px;
					border-radius: 20px;
					font-size: 12px;
					&.archive-list__menu-sort-thumb {
						margin-left: 15px;
					}
					&::before {
						min-width: 6px;
						width: 6px;
						height: 6px;
						margin-right: 4px;
					}
				}
			}
		}
		&__thumb {
			grid-template-columns: 1fr 1fr;
			gap: 10px;
			margin: 15px 0 0 0;
			a {
				border-radius: 12.5px;
				img {
					height: 26vw;
				}
				p {
					margin: 8px 10px;
					font-size: 12px;
					letter-spacing: -0.5px;
				}
				span {
					margin: 0 10px 6px;
					font-size: 12px;
					letter-spacing: -0.35px;
					color: #000;
					&::before {
						width: 12px;
						height: 8px;
						margin-right: 5px;
					}
				}
			}
		}
		&__file {
			grid-template-columns: 1fr 1fr;
			gap: 10px;
			margin: 15px 0 0 0;
			row-gap: 10px;
			a {
				height: auto;
				padding: 15px 10px;
				border-radius: 12.5px;
				img {
					width: 12px;
				}
				p {
					margin-top: 4px;
					font-size: 12px;
					line-height: 1.6;
					letter-spacing: -0.5px;
				}
			}
		}
		&__list {
			margin: 15px 0 0 0;
			a {
				border-radius: 12.5px;
				margin: 0 0 15px 0;
				img {
					min-width: 20vw;
					width: 20vw;
					height: 16vw;
					border-radius: 12.5px;
				}
				> div {
					width: calc(100% - 21vw);
				}
				p {
					width: 90%;
					margin: 8px 10px;
					font-size: 12px;
					letter-spacing: -0.5px;
				}
				span {
					margin: 0 10px 6px;
					font-size: 12px;
					letter-spacing: -0.35px;
					color: #000;
					&::before {
						width: 12px;
						height: 8px;
						margin-right: 5px;
					}
				}
			}
		}
	}
}
.archive-main {
	&__title {
		color: #000;
		text-align: center;
		margin-bottom: 80px;
		strong {
			font-size: 32px;
			font-weight: 700;
		}
		p {
			margin-top: 10px;
			font-size: 16px;
			font-weight: 300;
		}
	}
	img {
		//max-width: 100%;
	}
	@media screen and (max-width: 1024px) {
		&__title {
			margin-bottom: 40px;
			text-align: left;
			strong {
				font-size: 16px;
			}
			p {
				margin-top: 5px;
				font-size: 12px;
			}
		}
	}
}
.subTop_title {
	display: block;
	width: 100%;
	line-height: 1.4;
	padding: 1.75em 0 1.75em 1em;
	margin: 0 auto;
	font-size: 2em;
	font-weight: 300;
	word-break: keep-all;
}
.mfp-close {
	font-size: 50px !important;
	opacity: 1 !important;
}
.mfp-zoom-out-cur {
	cursor: default !important;
}
